{
    "env": {
        "node": true,
        "es6": true
    },
    "plugins": [
        "prettier",
        "jest"
    ],
    "extends": [
        "plugin:jest/recommended",
        "eslint:recommended",
        "prettier"
    ],
    "parser": "babel-eslint",
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "semi": false,
                "trailingComma": "none",
                "bracketSpacing": true,
                "tabWidth": 4,
                "arrowParens": "avoid"
            }
        ],
        "no-console": "warn"
    }
}